body{
    background: white;
}
.header{
    background-color: #000;
}
#block0{
    height:130px;
    width: auto;
}
.leader{
    background-color: deeppink;
    margin-left: 31%;
    height: 100px;
    width: 110px;
    font-weight: bold;
    font-size: 25px;
}
.tv, .film, .serial, .registr{
    background-color: deeppink;
    margin-left: 1%;
    height: 100px;
    width: 110px;
    font-weight: bold;
    font-size: 25px;
}
.search{
    border-radius: 25px;
    margin-left: 3%;
    height: 70px;
    width: 310px;
    font-size: 30px;
    padding: 20px;
}
.promo{
    border-radius: 25px;
    height: 70px;
    width: 210px;
    font-size: 30px;
    margin-left: 1%;
}